### Merging Polymod classes

In [1]:
import pandas as pd
import numpy as np

In [74]:
Polymod_data = pd.read_csv("Polymod_origin.csv", header = 1, index_col = 0)

In [72]:
Poly_4 = Polymod_data.iloc[0:6, :]

Integrating age classes of contacts together

In [32]:
merge_20_29_row = np.asarray(np.sum(Polymod_data.iloc[4:6, :], axis = 0))
print(merge_20_29_row)

[0.92 0.56 0.2  0.58 1.9  1.13 0.63 0.37 0.46 0.69 0.5  0.58 0.31 0.19
 0.03]

In [50]:
merge_30_row = np.asarray(np.sum(Polymod_data.iloc[6:15, :], axis = 0))
print(merge_30_row)

[2.94 2.84 2.21 1.86 1.96 1.99 2.25 2.47 2.32 2.63 1.55 2.09 1.99 1.82
 2.03]

In [71]:
Poly_5 = Poly_4[0:4]
Poly_5.loc["20-29"] = merge_20_29_row
Poly_5.loc["30+"] = merge_30_row

/home/yiping/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [63]:
# weight  
n_par = [815/2, 815/2, 908/2, 908/2, 906/2, 906/2, 728/2, 728/2, 270]
N = np.sum(n_par)
w_par = n_par/N
w_par

array([0.11235181, 0.11235181, 0.12517232, 0.12517232, 0.12489661,
       0.12489661, 0.10035842, 0.10035842, 0.07444169])

In [57]:
Poly_6 = {'0-4':Poly_5['0-4'],
          '5-9':Poly_5['5-9'],
          '10-14':Poly_5['10-14'],
          '15-19':Poly_5['15-19']}

In [62]:
Poly_6.update({'20-29': np.sum(Poly_5.iloc[:, 4:6], axis = 1)/2})

In [67]:
Poly_6.update({'30+': Poly_5.iloc[:, 6:].dot(w_par)})   #weighted average

In [69]:
column = ['0-4', '5-9', '10-14', '15-19','20-29', '30+']
polyweighted = pd.DataFrame(Poly_6, columns = column)

In [70]:
polyweighted    #### use the weighted average to get column '30+'

                 0-4   5-9  10-14  15-19  20-29       30+
age of contact
0-4             1.49  0.59   0.25   0.18  0.515  0.307812
5-9             0.74  3.82   0.53   0.44  0.395  0.410445
10-14           0.36  0.73   3.19   0.79  0.155  0.317936
15-19           0.26  0.22   0.52   3.10  0.485  0.288230
20-29           0.92  0.56   0.20   0.58  1.515  0.443601
30+             2.94  2.84   2.21   1.86  1.975  2.138009

In [118]:
# Don't run this cell please
# Use the average to get column '30+'

                 0-4   5-9  10-14  15-19  20-29       30+
age of contact
0-4             1.49  0.59   0.25   0.18  0.515  0.301111
5-9             0.74  3.82   0.53   0.44  0.395  0.402222
10-14           0.36  0.73   3.19   0.79  0.155  0.308889
15-19           0.26  0.22   0.52   3.10  0.485  0.285556
20-29           0.92  0.56   0.20   0.58  1.515  0.417778
30+             2.94  2.84   2.21   1.86  1.975  2.127778

Creating a another column for <1 identical to the previous 0-4

In [75]:
np.asarray(polyweighted.iloc[0,:])

array([1.49      , 0.59      , 0.25      , 0.18      , 0.515     ,
       0.30781224])

In [76]:
Poly_7 = polyweighted
Poly_7.insert (0, "<1", Poly_7.iloc[:,0])

In [77]:
first_line = np.asarray(Poly_7.iloc[0,:])
Poly_7.loc["<1"] = first_line

In [78]:
Poly_7.reindex(["<1", "0-4", "5-9", "10-14", "15-19", "20-29", "30+"])

                  <1   0-4   5-9  10-14  15-19  20-29       30+
age of contact
<1              1.49  1.49  0.59   0.25   0.18  0.515  0.307812
0-4             1.49  1.49  0.59   0.25   0.18  0.515  0.307812
5-9             0.74  0.74  3.82   0.53   0.44  0.395  0.410445
10-14           0.36  0.36  0.73   3.19   0.79  0.155  0.317936
15-19           0.26  0.26  0.22   0.52   3.10  0.485  0.288230
20-29           0.92  0.92  0.56   0.20   0.58  1.515  0.443601
30+             2.94  2.94  2.84   2.21   1.86  1.975  2.138009

In [79]:
Poly_7_new = Poly_7.rename(columns={'0-4': '1-4'}, index={'0-4': '1-4'})

In [87]:
Poly_7_new.reindex(["<1", "1-4", "5-9", "10-14", "15-19", "20-29", "30+"])

                  <1   1-4   5-9  10-14  15-19  20-29       30+
age of contact
<1              1.49  1.49  0.59   0.25   0.18  0.515  0.307812
1-4             1.49  1.49  0.59   0.25   0.18  0.515  0.307812
5-9             0.74  0.74  3.82   0.53   0.44  0.395  0.410445
10-14           0.36  0.36  0.73   3.19   0.79  0.155  0.317936
15-19           0.26  0.26  0.22   0.52   3.10  0.485  0.288230
20-29           0.92  0.92  0.56   0.20   0.58  1.515  0.443601
30+             2.94  2.94  2.84   2.21   1.86  1.975  2.138009

In [140]:
#### Don't run this cell please
#### The origin calculation without weighted average

                  <1   1-4   5-9  10-14  15-19  20-29       30+
age of contact
<1              1.49  1.49  0.59   0.25   0.18  0.515  0.301111
1-4             1.49  1.49  0.59   0.25   0.18  0.515  0.301111
5-9             0.74  0.74  3.82   0.53   0.44  0.395  0.402222
10-14           0.36  0.36  0.73   3.19   0.79  0.155  0.308889
15-19           0.26  0.26  0.22   0.52   3.10  0.485  0.285556
20-29           0.92  0.92  0.56   0.20   0.58  1.515  0.417778
30+             2.94  2.94  2.84   2.21   1.86  1.975  2.127778

In [98]:
Poly_7_new.to_csv(r'Polymod_weighted_average_30+_column.csv')