In [2]:
# Death rate (only for the last age group)

In [3]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [4]:
birth = pd.read_csv("Crude_birth_rate_1938-2018.csv")

In [5]:
birth

                                       Year  England and Wales    UK
0                                      2018               11.1  11.0
1                                      2017               11.6  11.4
2                                      2016               11.9  11.8
3                                      2015               12.1  11.9
4                                      2014               12.1  12.0
5                                      2013               12.3  12.1
6                                      2012               12.9  12.8
7                                      2011               12.9  12.8
8                                      2010               13.0  12.9
9                                      2009               12.8  12.7
10                                     2008               12.9  12.8
11                                     2007               12.7  12.6
12                                     2006               12.4  12.3
13                                     2005               12.1  12.0
14                                     2004               12.0  11.9
15                                     2003               11.8  11.7
16                                     2002               11.3  11.3
17                                     2001               11.4  11.3
18                                     2000               11.6  11.5
19                                     1999               12.0  11.9
20                                     1998               12.3  12.3
21                                     1997               12.5  12.6
22                                     1996               12.6  12.6
23                                     1995               12.6  12.6
24                                     1994               13.0  13.0
25                                     1993               13.2  13.2
26                                     1992               13.6  13.6
27                                     1991               13.8  13.8
28                                     1990               14.0  13.9
29                                     1989               13.6  13.6
..                                      ...                ...   ...
54                                     1964               18.5  18.8
55                                     1963               18.2  18.5
56                                     1962               18.0  18.3
57                                     1961               17.6  17.9
58                                     1960               17.1  17.5
59                                     1959               16.5  16.9
60                                     1958               16.4  16.9
61                                     1957               16.1  16.6
62                                     1956               15.7  16.1
63                                     1955               15.0  15.5
64                                     1954               15.2  15.7
65                                     1953               15.5  15.9
66                                     1952               15.3  15.7
67                                     1951               15.5  15.8
68                                     1950               15.5  16.2
69                                     1949               16.8  17.1
70                                     1948               17.9  18.2
71                                     1947               20.5  21.2
72                                     1946               19.2  20.3
73                                     1945               15.9  18.1
74                                     1944               17.7  20.1
75                                     1943               16.2  18.5
76                                     1942               15.6  17.4
77                                     1941               13.9  15.5
78                                     1940               14.1  15.2
79                                     1939               14.8  15.2
80                                     1938               15.1  15.5
81                                      NaN                NaN   NaN
82  Extracted from Vital_Demo--Birth Table                 NaN   NaN
83     Unit(live birth per 1000 population)                NaN   NaN

[84 rows x 3 columns]

In [6]:
B = birth['UK']                                 # extract birth rate 2018-1938
B

0     11.0
1     11.4
2     11.8
3     11.9
4     12.0
5     12.1
6     12.8
7     12.8
8     12.9
9     12.7
10    12.8
11    12.6
12    12.3
13    12.0
14    11.9
15    11.7
16    11.3
17    11.3
18    11.5
19    11.9
20    12.3
21    12.6
22    12.6
23    12.6
24    13.0
25    13.2
26    13.6
27    13.8
28    13.9
29    13.6
      ...
54    18.8
55    18.5
56    18.3
57    17.9
58    17.5
59    16.9
60    16.9
61    16.6
62    16.1
63    15.5
64    15.7
65    15.9
66    15.7
67    15.8
68    16.2
69    17.1
70    18.2
71    21.2
72    20.3
73    18.1
74    20.1
75    18.5
76    17.4
77    15.5
78    15.2
79    15.2
80    15.5
81     NaN
82     NaN
83     NaN
Name: UK, Length: 84, dtype: float64

In [7]:
birthrate = np.array(B[0:37], dtype=np.float)    #extract birth rate data from year 2018 to 1982
birthr = np.zeros(birthrate.shape[0])                     # birth rate from 1982-2018
for i in range(birthrate.shape[0]):
       birthr[i] = birthrate[birthrate.shape[0]-i-1]

In [12]:
alpha1 = [1,4]         # age group is 0,1-4,5-9,10-14, ....60-64, 65-69, 70 and over
alpha2 = 5 * np.ones(13)
alpha = np.hstack((alpha1, alpha2))

In [13]:
NN = 0
for i in range(alpha.shape[0]):
    NN = NN + alpha[i]
NN

70.0

In [14]:
deathr1 = np.zeros(birthr.shape[0]) 
for j in range(birthr.shape[0]):
    deathr1[j] = 1/((1/birthr[j])*1000-NN)

In [15]:
deathr1         # death rate for the last age group (70 and over)

array([0.12307692, 0.12307692, 0.13298969, 0.19275362, 0.19275362,
       0.33414634, 0.40588235, 0.28333333, 0.51481481, 0.40588235,
       0.28333333, 0.17368421, 0.14444444, 0.10677966, 0.10677966,
       0.10677966, 0.08848921, 0.07125749, 0.05897436, 0.05406699,
       0.05406699, 0.06464088, 0.07125749, 0.075     , 0.08848921,
       0.10677966, 0.12307692, 0.11441441, 0.13298969, 0.12307692,
       0.12307692, 0.07908497, 0.075     , 0.07125749, 0.06781609,
       0.05643564, 0.04782609])

In [16]:
birthr   # birth rate for the total population (unit is per 1000 population)

array([12.8, 12.8, 12.9, 13.3, 13.3, 13.7, 13.8, 13.6, 13.9, 13.8, 13.6,
       13.2, 13. , 12.6, 12.6, 12.6, 12.3, 11.9, 11.5, 11.3, 11.3, 11.7,
       11.9, 12. , 12.3, 12.6, 12.8, 12.7, 12.9, 12.8, 12.8, 12.1, 12. ,
       11.9, 11.8, 11.4, 11. ])

In [20]:
df = {'year':range(1982,2019),
     'death_rate_for_the_last_age_group_70_ and_over': deathr1}

In [21]:
df = pd.DataFrame(df, columns= ['year','death_rate_for_the_last_age_group_70_ and_over'])

In [22]:
df.to_csv (r'death_rate_for_the_last_age_group.csv', index = False, header=True)