In [1]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [63]:
people = pd.read_csv("Age_group_population_UK_1982-2019.csv")
death = pd.read_csv("Age_group_UK_death_1974-2018.csv")

In [57]:
people

,Age,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,0,713300,714900,713200,741800,748900,757700,779500,770700,775500,...,791801,801184,815850,792557,778251,776769,782450,763201,745263,722881
1,1-4,2806500,2866700,2881300,2868600,2892700,2927600,2968000,3037000,3065600,...,3078756,3125697,3180469,3221066,3248019,3250323,3231864,3197540,3168765,3134382
2,5-9,3489400,3364200,3352800,3398300,3467300,3549300,3619000,3632600,3649600,...,3477176,3536700,3641055,3761449,3859260,3954446,4037456,4113446,4138524,4149852
3,10-14,4355800,4223800,4049700,3887900,3690000,3513200,3394300,3384600,3429400,...,3705474,3652622,3576346,3532142,3521994,3549251,3625062,3733386,3858894,3953866
4,15-19,4756500,4726300,4640300,4540000,4478900,4376800,4249500,4078900,3918200,...,4001747,3972993,3925703,3883208,3849680,3823873,3778927,3704235,3669250,3656968
5,20-24,4375600,4495300,4638800,4747000,4784300,4784900,4727700,4650700,4554800,...,4202665,4299463,4332930,4314191,4314073,4294683,4253751,4207234,4184575,4153080
6,25-29,3846000,3890900,3980100,4102800,4237200,4372800,4495100,4618700,4719000,...,4277776,4314241,4318127,4350711,4392423,4441234,4510648,4541988,4527175,4514249
7,30-34,3961400,3845600,3797400,3769700,3787100,3836700,3892200,3971000,4086600,...,4044107,4148860,4239883,4327002,4356380,4381523,4408163,4422284,4463357,4497132
8,35-39,3871600,4021100,4093300,4144200,4158200,3957500,3847300,3795600,3767100,...,4292714,4160414,4036335,3966810,3994182,4078938,4179537,4282202,4372234,4395667
9,40-44,3188900,3245100,3334400,3423600,3560700,3852600,4005400,4074500,4123200,...,4647334,4619547,4567295,4496306,4390476,4299364,4174065,4059367,3993392,4019539
10,45-49,3087100,3116500,3153100,3171100,3142300,3150500,3209100,3300000,3386700,...,4595209,4655565,4685659,4686653,4672610,4630745,4619147,4574931,4507400,4402122
11,50-54,3149400,3112900,3070300,3040800,3022800,3023500,3054900,3093600,3113000,...,4006994,4120011,4235821,4344228,4458066,4565337,4631981,4668116,4674235,4661015
12,55-59,3190300,3139200,3100200,3079000,3054900,3030500,3000100,2964200,2937800,...,3595547,3622398,3684206,3756695,3842919,3950662,4066685,4184313,4293820,4405908
13,60-64,3046100,3171600,3271800,3145500,3055500,2982500,2940100,2910400,2896100,...,3779429,3797264,3624405,3540795,3511598,3501719,3534233,3598664,3673109,3755185
14,65-69,2711700,2564800,2439700,2540000,2641100,2749500,2865300,2957200,2841100,...,2942862,3073420,3345066,3491493,3561842,3614589,3636517,3473598,3396435,3368199
15,70-74,2397400,2400900,2404700,2400200,2363500,2288400,2165800,2064300,2166700,...,2465872,2452985,2475958,2539175,2633565,2725163,2852065,3111063,3251596,3318867
16,75-79,1737900,1771600,1804200,1825900,1836800,1849200,1860200,1871000,1871000,...,1999294,2017097,2046887,2092095,2140175,2162049,2154524,2176937,2235571,2325296
17,80-84,1000500,1039600,1077600,1108000,1131800,1167000,1196100,1226800,1243000,...,1481174,1507226,1533657,1549901,1568032,1583509,1606746,1635121,1673463,1715328
18,85+,620500,636300,656800,683500,709300,759800,795700,834700,866000,...,1373525,1407458,1439378,1459177,1503207,1525857,1564233,1592603,1608492,1647271
19,total,56305900,56347300,56459700,56617900,56763300,56930000,57065300,57236500,57410400,...,62759456,63285145,63705030,64105654,64596752,65110034,65648054,66040229,66435550,66796807

In [64]:
death

,Age,1974,1975,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,12352,11190,9776,9283,9128,9473,9112,8161,7897,...,3677,3504,3502,3347,3065,3014,3020,3004,2971,2831
1,1-4,2288,1999,1771,1638,1581,1365,1388,1370,1321,...,549,561,567,523,554,511,510,497,437,417
2,5-9,1439,1369,1314,1175,1206,1136,1018,869,760,...,320,326,293,325,295,327,302,278,309,305
3,10-14,1278,1247,1253,1152,1226,1169,1101,1090,1042,...,404,367,324,340,337,338,320,321,319,352
4,15-19,2631,2622,2702,2642,2885,2743,2793,2746,2655,...,1326,1153,997,959,933,953,951,895,882,978
5,20-24,2773,2831,2780,2786,2878,2707,2751,2656,2738,...,1850,1811,1655,1550,1496,1605,1553,1636,1426,1589
6,25-29,2848,2930,2944,2768,2816,2759,2596,2512,2481,...,2363,2121,2108,1982,1996,2037,2041,2176,2002,2185
7,30-34,3042,3126,3187,3244,3471,3497,3347,3332,3237,...,2810,2811,2728,2661,2782,2762,2829,3004,2807,2989
8,35-39,4534,4385,4352,4285,4508,4353,4341,4181,4426,...,4581,4305,4046,3690,3807,3756,3913,3861,4154,4281
9,40-44,7952,7518,7361,7050,7123,7059,6817,6672,6348,...,7291,6901,6709,6315,6413,6327,6131,6248,5891,5928
10,45-49,14737,14136,13620,13162,12893,12578,11710,11411,10889,...,9910,9899,9748,9690,9728,9758,9868,9981,9897,10152
11,50-54,27099,25548,24955,23530,23460,22917,21450,20604,19737,...,13536,13752,13565,13384,13759,13876,14514,14801,14889,15116
12,55-59,34914,34336,35855,36104,38287,39926,37857,35810,34382,...,20000,19568,18897,18736,19026,18897,19483,20356,20134,21169
13,60-64,59131,58149,58316,54505,52447,50292,49668,49585,51332,...,31315,31385,30634,29012,28361,27708,27901,27993,27913,28297
14,65-69,83941,82804,83527,80715,81533,80387,77857,75115,73112,...,38360,38723,38833,41101,42380,42444,43902,44527,42198,41405
15,70-74,103707,102783,105657,102538,104287,105395,102904,102312,102019,...,53875,53534,52234,51932,52165,52572,54971,56421,59532,62099
16,75-79,102300,104217,109732,107600,111793,115745,114265,113669,115889,...,74462,73431,70576,71835,72499,72014,74463,73523,74296,75062
17,80-84,94682,95274,99224,94841,96511,99140,98497,101669,104754,...,96575,95798,93544,96291,96885,94419,99140,96298,97678,98915
18,85+,105711,106013,112473,106125,109144,112935,112047,114210,117782,...,196413,201716,201272,215351,219977,217023,236970,231386,239437,241944
19,total,667359,662477,680799,655143,667177,675576,661519,657974,662801,...,559617,561666,552232,569024,576458,570341,602782,597206,607172,616014

In [58]:
year1 = ['1982', '1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']

In [59]:
popu = {'Age': ['0', '1-4', '5-9', '10-14','15-19', '20-29','30+','total']}

In [60]:
for i in range(len(year1)):
    k = year1[i]
    new_popu = people[k][0:5]
    new_popu = np.hstack([new_popu, np.sum(people[k][5:7]), np.sum(people[k][7:-1]), people[k][-1:]])
    popu.update({k : new_popu})

In [61]:
column = ['Age'] + year1
df = pd.DataFrame(popu, columns= column)
df

,Age,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,713300,714900,713200,741800,748900,757700,779500,770700,775500,...,782726,791801,801184,815850,792557,778251,776769,782450,763201,745263
1,1-4,2806500,2866700,2881300,2868600,2892700,2927600,2968000,3037000,3065600,...,3010195,3078756,3125697,3180469,3221066,3248019,3250323,3231864,3197540,3168765
2,5-9,3489400,3364200,3352800,3398300,3467300,3549300,3619000,3632600,3649600,...,3455445,3477176,3536700,3641055,3761449,3859260,3954446,4037456,4113446,4138524
3,10-14,4355800,4223800,4049700,3887900,3690000,3513200,3394300,3384600,3429400,...,3733870,3705474,3652622,3576346,3532142,3521994,3549251,3625062,3733386,3858894
4,15-19,4756500,4726300,4640300,4540000,4478900,4376800,4249500,4078900,3918200,...,4016880,4001747,3972993,3925703,3883208,3849680,3823873,3778927,3704235,3669250
5,20-29,8221600,8386200,8618900,8849800,9021500,9157700,9222800,9269400,9273800,...,8393152,8480441,8613704,8651057,8664902,8706496,8735917,8764399,8749222,8711750
6,30+,31962800,32065200,32203500,32331500,32464000,32647700,32832200,33063300,33298300,...,38868218,39224061,39582245,39914550,40250330,40633052,41019455,41427896,41779199,42143104
7,total,56305900,56347300,56459700,56617900,56763300,56930000,57065300,57236500,57410400,...,62260486,62759456,63285145,63705030,64105654,64596752,65110034,65648054,66040229,66435550

In [62]:
df.to_csv (r'population_7_age_groups_1982-2018.csv', index = False, header=True)

In [65]:
year2 = ['1974','1975', '1976', '1977', '1978', '1979', '1980', '1981','1982', '1983','1984','1985','1986','1987','1988','1989','1990','1991','1992','1993','1994','1995','1996','1997','1998','1999','2000','2001','2002','2003','2004','2005','2006','2007','2008','2009','2010','2011','2012','2013','2014','2015','2016','2017','2018']

In [66]:
dd = {'Age': ['0', '1-4', '5-9', '10-14','15-19', '20-29','30+','total']}

In [67]:
for i in range(len(year2)):
    k = year2[i]
    new_death = death[k][0:5]
    new_death = np.hstack([new_death, np.sum(death[k][5:7]), np.sum(death[k][7:-1]), death[k][-1:]])
    dd.update({k : new_death})

In [68]:
column2 = ['Age'] + year2
df2 = pd.DataFrame(dd, columns= column2)
df2

,Age,1974,1975,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,12352,11190,9776,9283,9128,9473,9112,8161,7897,...,3677,3504,3502,3347,3065,3014,3020,3004,2971,2831
1,1-4,2288,1999,1771,1638,1581,1365,1388,1370,1321,...,549,561,567,523,554,511,510,497,437,417
2,5-9,1439,1369,1314,1175,1206,1136,1018,869,760,...,320,326,293,325,295,327,302,278,309,305
3,10-14,1278,1247,1253,1152,1226,1169,1101,1090,1042,...,404,367,324,340,337,338,320,321,319,352
4,15-19,2631,2622,2702,2642,2885,2743,2793,2746,2655,...,1326,1153,997,959,933,953,951,895,882,978
5,20-29,5621,5761,5724,5554,5694,5466,5347,5168,5219,...,4213,3932,3763,3532,3492,3642,3594,3812,3428,3774
6,30+,641750,638289,658259,633699,645457,654224,640760,638570,643907,...,549128,551823,542786,559998,567782,561556,594085,588399,598826,607357
7,total,667359,662477,680799,655143,667177,675576,661519,657974,662801,...,559617,561666,552232,569024,576458,570341,602782,597206,607172,616014

In [69]:
df2.to_csv (r'death_7_age_groups_1974-2018.csv', index = False, header=True)

## For each year, death rate d_i = D_i / P_i, where D_i is the death number in the i-th age group, P_i is the population in the i-th group

In [70]:
death11 = pd.read_csv("death_7_age_groups_1974-2018.csv") 
people11 = pd.read_csv("population_7_age_groups_1982-2018.csv")

In [71]:
death11

,Age,1974,1975,1976,1977,1978,1979,1980,1981,1982,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,12352,11190,9776,9283,9128,9473,9112,8161,7897,...,3677,3504,3502,3347,3065,3014,3020,3004,2971,2831
1,1-4,2288,1999,1771,1638,1581,1365,1388,1370,1321,...,549,561,567,523,554,511,510,497,437,417
2,5-9,1439,1369,1314,1175,1206,1136,1018,869,760,...,320,326,293,325,295,327,302,278,309,305
3,10-14,1278,1247,1253,1152,1226,1169,1101,1090,1042,...,404,367,324,340,337,338,320,321,319,352
4,15-19,2631,2622,2702,2642,2885,2743,2793,2746,2655,...,1326,1153,997,959,933,953,951,895,882,978
5,20-29,5621,5761,5724,5554,5694,5466,5347,5168,5219,...,4213,3932,3763,3532,3492,3642,3594,3812,3428,3774
6,30+,641750,638289,658259,633699,645457,654224,640760,638570,643907,...,549128,551823,542786,559998,567782,561556,594085,588399,598826,607357
7,total,667359,662477,680799,655143,667177,675576,661519,657974,662801,...,559617,561666,552232,569024,576458,570341,602782,597206,607172,616014

In [72]:
people11

,Age,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,713300,714900,713200,741800,748900,757700,779500,770700,775500,...,782726,791801,801184,815850,792557,778251,776769,782450,763201,745263
1,1-4,2806500,2866700,2881300,2868600,2892700,2927600,2968000,3037000,3065600,...,3010195,3078756,3125697,3180469,3221066,3248019,3250323,3231864,3197540,3168765
2,5-9,3489400,3364200,3352800,3398300,3467300,3549300,3619000,3632600,3649600,...,3455445,3477176,3536700,3641055,3761449,3859260,3954446,4037456,4113446,4138524
3,10-14,4355800,4223800,4049700,3887900,3690000,3513200,3394300,3384600,3429400,...,3733870,3705474,3652622,3576346,3532142,3521994,3549251,3625062,3733386,3858894
4,15-19,4756500,4726300,4640300,4540000,4478900,4376800,4249500,4078900,3918200,...,4016880,4001747,3972993,3925703,3883208,3849680,3823873,3778927,3704235,3669250
5,20-29,8221600,8386200,8618900,8849800,9021500,9157700,9222800,9269400,9273800,...,8393152,8480441,8613704,8651057,8664902,8706496,8735917,8764399,8749222,8711750
6,30+,31962800,32065200,32203500,32331500,32464000,32647700,32832200,33063300,33298300,...,38868218,39224061,39582245,39914550,40250330,40633052,41019455,41427896,41779199,42143104
7,total,56305900,56347300,56459700,56617900,56763300,56930000,57065300,57236500,57410400,...,62260486,62759456,63285145,63705030,64105654,64596752,65110034,65648054,66040229,66435550

In [73]:
dr = {'Age': ['0', '1-4', '5-9', '10-14','15-19', '20-29','30+','total']}

In [74]:
for i in range(len(year1)):
    k = year1[i]
    new_dr = death11[k][0:]/people11[k][0:]
    dr.update({k : new_dr})

In [75]:
column3 = ['Age'] + year1
df3 = pd.DataFrame(dr, columns= column3)
df3

,Age,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,0.011071,0.010290,0.009815,0.009477,0.009587,0.009340,0.009058,0.008488,0.008088,...,0.004698,0.004425,0.004371,0.004102,0.003867,0.003873,0.003888,0.003839,0.003893,0.003799
1,1-4,0.000471,0.000440,0.000438,0.000454,0.000420,0.000412,0.000415,0.000412,0.000379,...,0.000182,0.000182,0.000181,0.000164,0.000172,0.000157,0.000157,0.000154,0.000137,0.000132
2,5-9,0.000218,0.000234,0.000217,0.000208,0.000190,0.000181,0.000193,0.000189,0.000171,...,0.000093,0.000094,0.000083,0.000089,0.000078,0.000085,0.000076,0.000069,0.000075,0.000074
3,10-14,0.000239,0.000233,0.000228,0.000241,0.000204,0.000216,0.000209,0.000197,0.000198,...,0.000108,0.000099,0.000089,0.000095,0.000095,0.000096,0.000090,0.000089,0.000085,0.000091
4,15-19,0.000558,0.000540,0.000511,0.000493,0.000516,0.000509,0.000503,0.000523,0.000516,...,0.000330,0.000288,0.000251,0.000244,0.000240,0.000248,0.000249,0.000237,0.000238,0.000267
5,20-29,0.000635,0.000607,0.000615,0.000586,0.000598,0.000599,0.000609,0.000617,0.000653,...,0.000502,0.000464,0.000437,0.000408,0.000403,0.000418,0.000411,0.000435,0.000392,0.000433
6,30+,0.020146,0.019993,0.019480,0.020205,0.019813,0.019203,0.019241,0.019379,0.018769,...,0.014128,0.014068,0.013713,0.014030,0.014106,0.013820,0.014483,0.014203,0.014333,0.014412
7,total,0.011771,0.011697,0.011423,0.011845,0.011640,0.011318,0.011376,0.011491,0.011179,...,0.008988,0.008950,0.008726,0.008932,0.008992,0.008829,0.009258,0.009097,0.009194,0.009272

In [76]:
df3.to_csv (r'death_rate_7_age_groups_1982-2018.csv', index = False, header=True)

In [77]:
deathrate = pd.read_csv("death_rate_7_age_groups_1982-2018.csv") 
deathrate

,Age,1982,1983,1984,1985,1986,1987,1988,1989,1990,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
0,0,0.011071,0.010290,0.009815,0.009477,0.009587,0.009340,0.009058,0.008488,0.008088,...,0.004698,0.004425,0.004371,0.004102,0.003867,0.003873,0.003888,0.003839,0.003893,0.003799
1,1-4,0.000471,0.000440,0.000438,0.000454,0.000420,0.000412,0.000415,0.000412,0.000379,...,0.000182,0.000182,0.000181,0.000164,0.000172,0.000157,0.000157,0.000154,0.000137,0.000132
2,5-9,0.000218,0.000234,0.000217,0.000208,0.000190,0.000181,0.000193,0.000189,0.000171,...,0.000093,0.000094,0.000083,0.000089,0.000078,0.000085,0.000076,0.000069,0.000075,0.000074
3,10-14,0.000239,0.000233,0.000228,0.000241,0.000204,0.000216,0.000209,0.000197,0.000198,...,0.000108,0.000099,0.000089,0.000095,0.000095,0.000096,0.000090,0.000089,0.000085,0.000091
4,15-19,0.000558,0.000540,0.000511,0.000493,0.000516,0.000509,0.000503,0.000523,0.000516,...,0.000330,0.000288,0.000251,0.000244,0.000240,0.000248,0.000249,0.000237,0.000238,0.000267
5,20-29,0.000635,0.000607,0.000615,0.000586,0.000598,0.000599,0.000609,0.000617,0.000653,...,0.000502,0.000464,0.000437,0.000408,0.000403,0.000418,0.000411,0.000435,0.000392,0.000433
6,30+,0.020146,0.019993,0.019480,0.020205,0.019813,0.019203,0.019241,0.019379,0.018769,...,0.014128,0.014068,0.013713,0.014030,0.014106,0.013820,0.014483,0.014203,0.014333,0.014412
7,total,0.011771,0.011697,0.011423,0.011845,0.011640,0.011318,0.011376,0.011491,0.011179,...,0.008988,0.008950,0.008726,0.008932,0.008992,0.008829,0.009258,0.009097,0.009194,0.009272